
<%- contentFor('body') %>
			<section id="intro">
				<div class="jumbotron">
				  <h1>Contact Us</h1>
				  <p>This is the contact page</p>
				  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
				</div>
			</section>